.table {
    border-radius: .4rem;
    border-spacing: .5rem;
    box-shadow: .0rem .1rem .5rem var(--table-border-color);
    padding: 1rem;
    width: 100%;
}

.table__head {
    
}

.table__body {

}

.table__spiner {
    align-items: center;
    display: flex;
    padding: 3rem;
    justify-content: center;
}

.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 6rem;
}