.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: .2s;
    background-color: var(--button-bg-color);
}

.button-refresh,
.button-delete,
.button-edit,
.button-save,
.button-add {
    background: center / contain no-repeat;
    min-height: 3rem;
    min-width: 3rem;
}

.button-refresh:hover,
.button-delete:hover,
.button-edit:hover,
.button-save:hover,
.button-add:hover {
    opacity: .7;
    transform: scale(1.15);
}

.button-add {
    background-image: url('./plus.svg');
}

.button-edit {
    background-image: url('./edit.svg');
}

.button-delete {
    background-image: url('./remove.svg');
}

.button-save {
    background-image: url('./check-mark.svg');
}

.button-refresh {
    background-image: url('./refresh.svg');
    transform: rotate(90deg);
}